body {
    background-color: black;
    background-image: url(img/Jpeg.png);
    background-repeat: none;
    background-size: cover;
}

header {
    width: 350px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
}

table {
    margin: auto;
    height: 100%;
    width: 100%;
}

.linkTable a {
    color: white;
    text-align: center;
    text-decoration: none;
}
