body {
  background-color: black;
}

header {
  width: 280px;
  height: 50px;
  border: 2px solid white;
  background-color: black;
}

.navbox ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  list-style-type: none;
}

.navbox li {
  float: left;
}

.navbox li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
}

.navbox li a:hover {
  background-color: #222222;
}
